<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport">

    <title>Un nouvel article est consultable</title>
</head>

<body>

    {% block body %}{% endblock %}

</body>

</html>