{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Tag index{% endblock %}

{% block body %}

    <h1>Tag index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Articles</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td><a href="{{ tag.name }}">{{ tag.name }}</a></td>
                <td>
                    {% for article in tag.articles %}
                       <li>{{ article.title }}</li>
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}